* text=auto
*.css linguist-vendored=false
*.scss linguist-vendored=false
*.js linguist-vendored=false
public/* linguist-vendored=false
app/* linguist-vendored
bootstrap/* linguist-vendored
config/* linguist-vendored
database/* linguist-vendored
CHANGELOG.md export-ignore
